<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Navin's Blog</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>

  <body>
    <div class="wrapper">
      <header>
        <div class="title-wrapper">
          <h1>
            <a href="/" class="main-title">Navin's Blog</a>
          </h1>
        </div>
        <nav>
          <a class="nav-items" href="/">Homepage</a>
          <a class="nav-items" href="/dashboard">Dashboard</a>

          {{#if loggedIn}}
            <button class="nav-items" id="logout">Logout</button>
          {{else}}
            <a class="nav-items" href="/login">Login</a>

          {{/if}}

        </nav>
      </header>
      <main>
        {{{body}}}
      </main>
      <footer>
        Thanks for visiting!
      </footer>
    </div>
    {{#if loggedIn}}
      <script src="/javascript/logout.js"></script>
    {{/if}}
  </body>

</html>