<ol class="post-list">
  {{#each posts as |post|}}
    <li>
      <article class="post">
        <div class="title">
          <p>{{post.title}}</p>
          <span>(This is the post)</span>
          <a href="{{post.post_url}}" target="_blank">{{post.post_url}}</a>
        </div>

      </article>
    </li>
  {{/each}}
</ol>